<div class="chatbot-container" [ngClass]="{ 'chatbot-open': showChatbot }">
    <div class="chatbot-header" (click)="toggleChatbot()">
        <button class="toggle-button" [ngClass]="{ 'chevron-flip': showChatbot }">
            <fa-icon [icon]="chevronUp"></fa-icon>
        </button>
        <h2>Chatbot</h2>
    </div>
    <div class="chatbot-content" #chatbotContent>
        <div
            *ngFor="let message of chatMessages"
            class="message"
            [ngClass]="[ message.sender ]"
        >
            {{ message.content }}
        </div>
    </div>
    <div class="input-container">
        <textarea #chatInput
            id="chat-input"
            rows="1"
            [(ngModel)]="currentMessage"
            (input)="adjustTextareaHeight()"
            (keyup.arrowup)="previousMessage()"
            (keyup.enter)="sendMessage()"
            placeholder="Type your message..."
        >
        </textarea>
        <button id="send-button" (click)="sendMessage()">
            <fa-icon [icon]="paperPlane"></fa-icon>
        </button>
    </div>
</div>
