.chatbot-container {
    --primary-color: #0E2940;
    --secondary-color: #D9D9D9;
    font-family: Crimson Text, serif;
    position: fixed;
    bottom: 40px;
    right: 0;
    width: 350px;
    height: 440px;
    background-color: var(--secondary-color);
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    transform: translateY(100%);
  }
  
  .chatbot-open {
    transform: translateY(10%);
  }
  
  .chatbot-header {
    align-items: center;
    color: white;
    font-size: 14px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    height: 40px;
  }
  
  .toggle-button{
    background: none;
    color: white;
    border: none;
    font-size: 20px;
    padding-right:8px;
    padding-left: 10px;
  }
  .input-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 15px 10px 15px 10px;
    color: white;
    font-size: 14px;
    width: 100%;
  }
  
  #chat-input{
    width: 80%;
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 2px 5px 2px 5px;
    margin-right: 8px;
    border-radius: 8px;
    height: 25px;
    max-height: 100px;
    overflow-y: hidden;
    font-size: 18px;
    resize: none;
  }
  #send-button{
    background: none;
    color: var(--primary-color);
    border: none;
    font-size: 20px;
  }
  .chatbot-message .user-message{
    font-size: 16px;
    font-family: var;
  
  }
  .chatbot-message {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 8px 5px 5px 5px;
    border-radius: 10px 10px 10px 0;
    float: left;
    clear: both;
  }
  
  .user-message {
    margin: 8px 5px 5px 8px;
    background-color: var(--primary-color);
    padding: 10px;
    color: white;
    border-radius: 10px 10px 0 10px;
    float: right;
    clear: both;
  }
  .chatbot-content{
    max-height: 345px;
    overflow-y: auto;
  }
  