.chatbot-container {
    font-family: Crimson Text, serif;
    position: fixed;
    bottom: 40px;
    right: 0;
    width: 350px;
    height: 440px;
    background-color: var(--secondary-color-dark);
    border: 2px solid #888;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    transform: translateY(100%);
    z-index: 100;
}

.chatbot-container.lightMode{
    font-family: Crimson Text, serif;
    position: fixed;
    bottom: 40px;
    right: 0;
    width: 350px;
    height: 440px;
    background-color: var(--secondary-color-dark);
    border: 2px solid var(--secondary-color-light);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    transform: translateY(100%);
    z-index: 100;
}

.chatbot-open {
    transform: translateY(10%);
}

.chatbot-header {
    align-items: center;
    color: white;
    font-size: 14px;
    background-color: var(--primary-color-dark);
    border-bottom: 2px solid var(--primary-color-dark);
    display: flex;
    flex-direction: row;
    height: 40px;
    cursor: pointer;
}

.chatbot-header.lightMode {
    align-items: center;
    color: var(--secondary-color-light);
    font-size: 14px;
    background-color: var(--primary-color-light-chatHeader);
    border-bottom: 2px solid var(--secondary-color-light);
    display: flex;
    flex-direction: row;
    height: 40px;
    cursor: pointer;
}

.toggle-button {
    background: none;
    color: var(--secondary-color-dark);
    border: none;
    font-size: 20px;
    padding-right: 8px;
    padding-left: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.toggle-button.lightMode {
    background: none;
    color: var(--secondary-color-light);
    border: none;
    font-size: 20px;
    padding-right: 8px;
    padding-left: 10px;
    cursor: pointer;
}

.input-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 15px 10px 15px 10px;
    color: white;
    font-size: 14px;
    width: 100%;
}

#chat-input {
    width: 80%;
    font-family: 'Ubuntu Mono', monospace;
    border-color: var(--primary-color-dark);
    background-color: var(--secondary-color-dark);
    padding: 2px 5px 2px 5px;
    margin-right: 8px;
    border-radius: 8px;
    height: 2em;
    max-height: 100px;
    overflow-y: hidden;
    font-size: 18px;
    resize: none;
}

#send-button {
    background: none;
    color: var(--primary-color-dark);
    border: none;
    font-size: 20px;
}

.message {
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
    padding: 10px;
    clear: both;
}

.message.chatbot {
    color: black;
    background-color: white;
    margin: 8px 5px 5px 5px;
    border-radius: 10px 10px 10px 0;
    float: left;
}

.user-message {
    margin: 8px 5px 5px 8px;
    background-color: var(--primary-color-dark);
    padding: 10px;
    color: white;
    background-color: var(--primary-color);
    margin: 8px 5px 5px 8px;
    border-radius: 10px 10px 0 10px;
    float: right;
}

.user-message.lightMode {
    margin: 8px 5px 5px 8px;
    background-color: var(--primary-color-light);
    padding: 10px;
    color: var(--secondary-color-light);
    border-radius: 10px 10px 0 10px;
    float: right;
    clear: both;
}

.chatbot-content {
    max-height: 345px;
    overflow-y: auto;
}

.chevron-flip {
    transform: rotate(180deg);
}
