.tableau-container {
    margin-left: 4em;
    max-width: 90%;
}

#sidebar-container {
    background-color: var(--primary-color-dark);
    z-index: 0;
}

#sidebar-container.lightMode {
    background-color: var(--primary-color-light);
    z-index: 0;
}

mat-sidenav-content {
    margin-left: 3.5em;
    overflow: visible;
}

mat-sidenav-container {
    overflow: visible;
}

#sidebar-nav {
    padding: 20px 20px 20px 0;
}

#sidebar-drawer {
    width: 25%;
    text-align: center;
    height: 100%;
}

#options-toggle-button {
    color: var(--secondary-color-dark);
    margin-left: 4em;
    cursor: pointer;
}

#options-toggle-button.lightMode {
    color: var(--secondary-color-light);
    margin-left: 4em;
    cursor: pointer;
}

#options-toggle-button-label {
    cursor: pointer;
}

mat-sidenav button{
    background-color: purple;
    color: var(--secondary-color-dark);
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
    width: 140px;
}

mat-sidenav button:hover{
    background-color: navy;
    cursor: pointer;
}