<mat-sidenav-container id="sidebar-container" fullscreen>
    <mat-sidenav #drawer mode="over" [fixedInViewport]="true" id="sidebar-drawer">
        <h2>Options</h2>

        <label>Dark Mode:</label>
        <br>
        <label>To be implemented later....</label>
    </mat-sidenav>
    <mat-sidenav-content>
        <h1>Marine Corps Customer Experience Enhancement</h1>
        <button type="button" mat-button (click)="drawer.toggle()" id="options-toggle-button">
            <fa-icon [icon]="faBars"></fa-icon>&nbsp;<label id="options-toggle-button-label">Options</label>
        </button>
        <div class="tableau-container">
            <ngx-tableau [tableauVizUrl]="dashboardUrl"
                         [options]="options"
            />
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-chatbot></app-chatbot>
