.tableau-container {
    margin-left: 4em;
    max-width: 90%;
}

#sidebar-container {
    position: fixed;
    background-color: var(--primary-color-dark);
    z-index: 0;
    padding-bottom: 5em;
}

#sidebar-container.light {
    background-color: var(--primary-color-light);
}

mat-sidenav-content {
    margin-left: 3.5em;
    overflow: visible;
}

mat-sidenav-container {
    overflow: visible;
}

#sidebar-nav {
    padding: 20px 20px 20px 0;
}

#sidebar-drawer {
    width: 25%;
    text-align: center;
}

#options-toggle-button {
    color: var(--secondary-color-dark);
    margin-left: 4em;
    margin-bottom: 1em;
    cursor: pointer;
}

.quick-swap-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
}

.title {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title.light {
    color: var(--secondary-color-light);
}
